# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Diretório de dependências
node_modules/

# Diretório de build
dist/
build/

# Ambiente
.env
.env.local
.env.*.local

# Cache
.cache/
.npm/
.yarn/

# IDEs/Editors
.vscode/
.idea/
*.swp

# Sistema Operacional
.DS_Store
Thumbs.db

# Test coverage
coverage/

# Diretórios temporários
tmp/
temp/

# Outros
*.tsbuildinfo
*.lock
*.zip
